;; This buffer is for text that is not saved, and for Lisp evaluation.
;; To create a file, visit it with ‘C-x C-f’ and enter text in its buffer.

[user]
	email = nicolas.morazotti@gmail.com
	name = Nícolas André da Costa Morazotti

[url "git@github.com:Morazotti/"]
     insteadOf = me: